#section2 {
    background-color:black;
    border: black;
    padding: 4px;
    color: white;
}
#section2 h3{
    font-weight: bold;
    font-style: inherit;
    font-size: 20px;
    color: blueviolet;
}
#section2 ul{
    width: 50%;
    height: 100%;
    font-weight: bold;
    color: white;
}
#section2 ol{
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
    flex: inherit;
}
#section2 p{
    width: 80%;
    height: 100%;
    font-family: sans-serif;
}
#section2 h1{
    text-align: center;
    background-color: #cacaca;
    border: black;
    padding: 10px;
    font-size: 30px;
    font-family: serif;
    font-style: oblique;
    color: ivory;
}